:root {
    --one: #f8cdcd;
    --two: #A25555;
    --three: #393D74;
    --four: #1E1A33;
    --five: #9D7599;
    --six: #f8e5e5;
}

.row {
    margin: 0;
}

.bg-one {
    background: var(--one);
}

.bg-two {
    background: var(--two);
}

.bg-three {
    background: var(--three);
}

.bg-four {
    background: var(--four);
}

.bg-five {
    background: var(--five);
}

.bg-six {
    background: var(--six);
}

.border-right-five {
    border-right: 2px solid var(--five);
}

.dark-links a {
    color: var(--two);
}

.dark-links a:hover, .dark-links a:focus {
    color: var(--four);
}

.nav-active {
    color: var(--four);
}

.btn {
    background: var(--five);
    border: 0;
}

.btn:hover {
    background: var(--three) !important;
    color: var(--six) !important;
}
/* need to mark as important to override bootstrap */

.mx-6 {
    margin-right: 6rem;
    margin-left: 6rem;
}

.card-title {
    margin-top: 0.5rem;
}

.subtitle {
    margin-bottom: 0.5rem;
}

.image-container {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 20vh;
    background-size: 100%;
}

#lightbox {
    background-image: url('../public/images/lightbox.png');
}

#weather {
    background-image: url('../public/images/weather.png');
}

#team-profile {
    background-image: url('../public/images/team-profile.png');
}

#shelter {
    background-image: url('../public/images/shelter.png');
}

#deep-thoughts {
    background-image: url('../public/images/deep-thoughts.png');
}

#pizza {
    background-image: url('../public/images/pizza.png');
}

body {
    background: var(--six);
}

header {
    position: sticky;
    top: 0;
    min-height: 10vh;
}

footer {
    height: 8vh;
}

main {
    min-height: 80vh;
}

h2 {
    text-decoration: underline;
}

a {
    color: var(--one);
    text-decoration: none;
}

a:hover {
    color: var(--four);
}

@media screen and (min-width: 768px) {
.project-width {
    width: calc(50% - 2.5rem);
}
}