:root {
    --one: #f8cdcd;
    --two: #A25555;
    --three: #393D74;
    --four: #1E1A33;
    --five: #9D7599;
    --six: #f8e5e5;
}

.row {
    margin: 0;
}

.bg-one {
    background: var(--one);
}

.bg-two {
    background: var(--two);
}

.bg-three {
    background: var(--three);
}

.bg-four {
    background: var(--four);
}

.bg-five {
    background: var(--five);
}

.bg-six {
    background: var(--six);
}

.border-right-five {
    border-right: 2px solid var(--five);
}

.btn {
    background: var(--five);
    border: 0;
}

.btn:hover {
    background: var(--three) !important;
    color: var(--six) !important;
}
/* need to mark as important to override bootstrap */

body {
    background: var(--six);
}

header {
    position: sticky;
    top: 0;
    height: 10vh;
}

footer {
    height: 8vh;
}

main {
    min-height: 82vh;
}

h2 {
    text-decoration: underline;
}

a {
    color: var(--one);
    text-decoration: none;
}

a:hover {
    color: var(--four);
}